<% layout('/layout/boilerplate') -%>
    <div class="text-dark container mt-5 accountas">
        <form action="/account?_method=PUT" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <h5 class="card-title">Account settings</h5>
                    <div class="mb-3">
                        <label for="email" class="form-label">Your email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="<%= admin.email %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Your username:</label>
                        <input type="username" class="form-control" id="username" name="username" value="<%= admin.username %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="text" class="form-label">Some text about you:</label>
                        <textarea type="text" class="form-control" id="text" name="text" rows="3" required><%= admin.aboutMe %></textarea>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row float-end text-center">
                        <!-- <p>Your current avatar image:</p> -->
                        <% if(admin.avatarImage.url) {%>
                            <label for="fotke" class="form-label mt-1">Your current avatar image:</label>
                            <div>
                                <img src="<%= admin.avatarImage.url %>" class="img-fluid" alt="" id="fotke" style="border-radius: 50%; width: 70%;">
                            </div>

                            <% } else { %>
                                <label for="fotke" class="form-label mt-1">Your current avatar image:</label>
                                <!-- <img src="/images/author.png" alt="" id="fotke" style="width: 50%;"> -->
                                <div>
                                    <img src="/images/author.png" alt="" id="fotke" class="img-fluid" style="width: 70%;">
                                </div>
                                <% } %>
                                    <div class="input-group my-3">
                                        <input type="file" class="form-control" id="avataras" name="avataras">
                                        <label class="input-group-text" for="avataras">Upload</label>
                                    </div>
                    </div>

                </div>
                <div class="container w-75">
                    <% if(admin.tester == true) {%>
                        <p class="text-danger text-end">You are using a test account! Therefore, you cannot update account settings.</p>
                        <button type="submit" class="btn btn-secondary registravimas float-end " disabled>Update</button>
                        <% } else {%>
                            <button type="submit" class="btn btn-secondary registravimas float-end ">Update</button>
                            <% } %>
                                <a href="/" class="btn btn-outline-secondary float-start me-3">Go back</a>
                </div>
            </div>
        </form>
    </div>